<div class="topnav">
  <%= link_to "Home", user_path(current_user), class: "active"%>
  <a href="/logout">Log Out</a>
  <%= link_to "View Events", events_path(@event) %>
  <%= link_to "Edit Receiver", edit_receiver_path(@receiver) %>
  <%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary) %>


  <a href="#" style="float:left"><strong>XPERIENC</strong></a>
</div>
