<h2><%= "Welcome back, #{@user.first_name}" %></h2>
<br>
<h4>My Itineraries</h4>
<% @user.itineraries.each do |itinerary| %>
  <strong><%= link_to itinerary.destination_name, itinerary %></strong><br>
<% end %>
<br>

<div>
  <button type="button" class="btn btn-primary"><%= link_to "Edit User Account", edit_user_path(@user)%><br>
</div>

<div>
  <button type="button" class="btn btn-primary"><%= link_to "Logout", logout_path %></button><br>
</div>
