<h2><%= "Welcome back, #{@user.first_name}" %></h2>
<br>
<h4>My Itineraries</h4>
<% @user.itineraries.each do |itinerary| %>
  <strong><%= link_to itinerary.destination_name, itinerary %></strong>
<% end %>
